@import url('https://fonts.googleapis.com/css2?family=Langar&family=Roboto:wght@300;400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

header {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(149, 180, 241, 0.5);;
    margin: 0 auto;
}

.logo {
    width: 145px;
    height: 80px;
    margin-top: 5px;
}

.add-card-button {
    border-radius: 30px;
    width: 150px;
    height: 30px;
    margin-top:  30px;
    background-color: #95B4F1;
    font-size: 15px;
    font-weight: 400;
}