@import url('https://fonts.googleapis.com/css2?family=Langar&family=Roboto:wght@300;400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

header {
    width: 1220px;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 145px;
    height: 100px;
}

.add-card-button {
    border-radius: 30px;
    width: 300px;
    height: 68px;
    
}