@import url('https://fonts.googleapis.com/css2?family=Langar&family=Roboto:wght@300;400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(149, 180, 241, 0.5);;
    margin: 0 auto;
}

.logo {
    width: 145px;
    height: 80px;
    margin-top: 5px;
}

.add-card-button {
    border-radius: 30px;
    height: 45px;
    width: 150px;
    margin-top:  20px;
    background-color: #95B4F1;
    font-size: 15px;
    font-weight: 400;
    border: none;
}

.add-card-button:hover {
    cursor: pointer;
}

.add-card-button:focus {
    outline: none;
}

/* Pavel Start*/

main {   
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}


.card__text {
    font-family: Roboto;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.card {
    background: rgba(149, 180, 241, 0.5);
    border-radius: 45px;
    height: 440px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px 45px 25px;
}

.card:nth-child(3n) {
    margin-right: 0;
} 

.test {
    padding-top: 25px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

input {
    border-radius: 30px;
    width: 80%;
    border: none;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
}

input:hover {
    background-color: #FDFFAB;
}

.card__title {
    height: 50px;
}

.card__total-amount {
    height: 30px;
}

.card__first-payment {
    height: 30px;
}

.card__date {
    height: 30px;
}

.card__percent {
    height: 30px;
}

.card__monthly-payment {
    height: 30px;
    background-color: white;
}

.card__date-and-percent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card__date-width {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
}

.card__percent-width {
    display: flex;
    align-self: end;
    width: 25%;
    flex-direction: column;
    align-items: center;
}

.card__date {
    width: 100%;
}

.card__percent {
    width: 100%;
}

.card__buttons {
    /* margin-bottom: 25px; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    padding-top: 8px;
    /* border-radius: 0 0 45px 45px; */
}

.card__buttons-delete {
    width: 42px;
    margin-top: 5px;
    margin-bottom: 15px;
    height: 42px;
}

.card__buttons-save {
    width: 42px;
    margin-top: 5px;
    margin-bottom: 15px;
    height: 42px;
}

.card__closed {
    margin-left: 200px;
    height: 300px;
    width: 20%;
    background: #95B4F1;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
    padding-top: 3%;
    padding-bottom: 3%;
}